.acea-row,
.c_row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.acea-row {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nameStyle {
    position: absolute;
    white-space: nowrap;
    z-index: 9;
    background: #eee;
    height: 20px;
    line-height: 20px;
    color: #555;
    border: 1px solid #ebebeb;
    padding: 0 5px;
    left: 56px;
    bottom: -18px;
}

.iconbianji1 {
    font-size: 13px;
}

.selectTreeClass {
    background: #d5e8fc;
}

.tree_tit {
    padding-top: 7px;
}

.treeBox {
    width: 100%;
    height: 100%;
    max-width: 180px;
}

.is-modal .pictrueList_pic {
    width: 100px;
    margin: 10px 5px !important;

    .img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: rgb(248, 248, 248);
        padding: 2px;

        img {
            max-width: 96px;
            max-height: 96px;
            // object-fit: cover;
        }

        .operate-height {
            top: 5px;
        }
    }
}

.pictrueList_pic {
    position: relative;
    width: 146px;
    cursor: pointer;

    // margin-right: 20px !important;
    .img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 146px;
        height: 146px;
        background-color: rgb(248, 248, 248);
        padding: 3px;

        img {
            max-width: 140px;
            max-height: 140px;
            // object-fit: cover;
        }
    }

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 20px;
        font-size: 12px;
        color: #515a6d;
        text-align: center;
    }

    .number {
        height: 33px;
    }

    .number {
        position: absolute;
        right: 0;
        top: 0;
    }

}

.Nav {
    width: 100%;
    border-right: 1px solid #eee;
    min-width: 200px;
    max-width: max-content;
}

.trees-coadd {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    .scollhide {
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0px 0 10px 0;
        box-sizing: border-box;

        .isTree {
            min-height: 374px;
            max-height: 550px;
        }
    }

    .scollhide::-webkit-scrollbar {
        display: none;
    }
}

.imagesNo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 65px 0;

    .imagesNo_sp {
        font-size: 13px;
        color: #dbdbdb;
        line-height: 3;
    }
}

.Modal {
    width: 100%;
    height: 100%;
    background: #fff !important;
}

.fill-window {
    height: 100vh;
}

.colLeft {
    padding-right: 0 !important;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.conter {
    width: 100%;
    height: 100%;
    margin-left: 20px !important;

    .iconliebiao {
        font-size: 12px;
    }
}

.conter .bnt {
    width: 100%;
    padding: 0 13px 20px 0px;
    box-sizing: border-box;
}

.conter .pictrueList {
    // width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 463px;
}

.conter .pictrueList.is-modal {
    max-height: 480px;
}

.conter .pictrueList img {
    max-width: 100%;
}

.conter .pictrueList .img.on {
    border: 1px solid var(--td-brand-color-active);
}

.conter .footer {
    padding: 0 20px 10px 20px;
}

.tabBox_img {
    display: flex;
    align-items: center;
}

.real-name {
    flex: 1;
}

.df-aic {
    display: flex;
    align-items: center;
}

.demo-badge {
    width: 42px;
    height: 42px;
    background: transparent;
    border-radius: 6px;
    display: inline-block;
}

.card-tree {
    background: #fff;
    height: 72px;
    box-sizing: border-box;
    overflow-x: scroll;
    /* 设置溢出滚动 */
    white-space: nowrap;
    overflow-y: hidden;
    /* 隐藏滚动条 */
    border-radius: 4px;
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.card-tree::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.tabs {
    background: #fff;
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
}

.operate-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 0;
}

.operate-height {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    position: absolute;
    bottom: -10px;
}

.operate {
    color: var(--td-brand-color-active);
    font-size: 12px;
    white-space: nowrap;
}
